html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.center-sayu {
    margin: 0 10vw;
}
.input {
    font-size: 1.3rem !important;
    width: 100%;
}
.gloss {
    font-size: 1.1rem !important;
}


/*color format*/
.gyo, .markup {
    --value: rgb(39, 159, 9);
    --attr: rgb(38, 67, 130);
    --spell: brown;
    --errorhere: rgb(255, 0, 0);
    --delem: rgb(255, 0, 174);
    --other: black;
    --message: red;
    --kakko: purple;
    --abouterror: red;
}
span.spell {
    color: var(--spell)
}
span.value {
    color: var(--value)
}
span.attr {
    color: var(--attr)
}
span.delem {
    color: var(--delem)
}
span.kakko {
    color: var(--kakko)
}
span.message {
    color: var(--message)
}
span.abouterror {
    color: var(--abouterror)
}
span.errorhere {
    color: var(--errorhere)
}